<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Choose Your Character</title>
  </head>
  <body>
    <% if (user) { %>
    <h2><div id="youtube-link">
      <a
        href="https://www.youtube.com/watch?v=ghHC3JzdWK0&list=RDghHC3JzdWK0&start_radio=1&ab_channel=sLW"
      >
        Thanks for contributing to the Dota community!!</a
      >
    </h2></div>
    <% } else { %>
<h2>    <div id="reminder-container">
  Please remember to log in!</h2>
    <% } %>
    <% if (user) { %>

    <div id="login-reminder">
      <h2>Add a Hero</h2>
      <form action="/heroes" method="POST">
        <label>
          <input type="text" name="name" />
        </label>

        <button>Submit</button>
      </form>
      <ul style="list-style: none">
        
        <% heroes.forEach(function(hero) { %>
        <li>
          <a href="/heroes/<%- hero.id -%>">
            <%- hero.name -%>
          </a>
        </li>
        <% }); %>
       
      </ul>
    </div>
    <% } else { %>
      <% } %>
  </body>
</html>
<%- include('../partials/footer') %>
