<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Choose Your Character</title>
  </head>
  <body>
    <% if (user) { %>
    <h2>Thanks for contributing to the Dota community!!</h2>
    <% } %>
    <div
      style="
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <ul style="list-style: none">
        <li>
          <button onclick="redirect('/heroes/character1')">
            Legion Commander
          </button>
        </li>
        <br />
        <li>
          <button onclick="redirect('/heroes/character2')">Lina</button>
        </li>
        <br />
        <li>
          <button onclick="redirect('/heroes/character3')">Necrophos</button>
        </li>
        <br />
      </ul>
    </div>
  </body>
</html>
<%- include('../partials/footer') %>
